.article__social-block
  a(href="#")
    +article-social-icon-label('article-fb-like', 'facebook like', '67', '20')
  a(href="#")
    +article-social-icon-label('article-fb-share', 'facebook share', '41', '20')
  a(href="#")
    +article-social-icon-label('article-tweeter', 'tweeter share', '59', '20')
  a(href="#")
    +article-social-icon-label('article-gplus', 'google plus share', '27', '20')
  a(href="#")
    +article-social-icon-label('article-in', 'in share', '20', '20')
  span If you like the article, please, like it or share it!