.container--article
  section.blog-article#blog-article
    article.article
      .article__header
        h3 Opinions expressed by Entrepreneur contributors are their own
      .article__paragraph
        p Williams Intellectual Property charges flat fees for patent prosecution in the United States. We don’t add surcharges onto any government filing fees or bill you additional fees (including Office Action responses and amendments) until prosecution on your patent application is closed. Utility and Design fees include all office action responses incurred during prosecution of your patent application.
        p You may incur separate fees for drawings (to a drafting company, if needed), or actions subsequent closure of prosecution, such as continuing prosecution, continuing applications, requests for continued examination, continuation-in-part applications, and any interference proceedings. In most instances the fee you pay us will carry you through to issuance or abandonment of your patent application. Call us for a free consultation if you’d like more information regarding our fees.
      .article__slider
        include ../sliders/slider-img-in-article
      .article__header
        h4 H4 How do you measure by baseline?
      .article__paragraph
        p <span class="span--yellow">Williams</span> Intellectual Property charges flat fees for patent prosecution in the United States. We don’t add surcharges onto any government filing fees or bill you additional fees (including Office Action responses and amendments) until prosecution on your patent application is closed. Utility and Design fees include all office action responses incurred during prosecution of your patent application.
        p You may incur separate fees for drawings (to a drafting company, if needed), or actions subsequent closure of prosecution, such as continuing prosecution, continuing applications, requests for continued examination, continuation-in-part applications, and any interference proceedings. In most instances the fee you pay us will carry you through to issuance or abandonment of your patent application. Call us for a free consultation if you’d like more information regarding our fees.
      .article__list
        ul
          li Simple Habit от Simp
          li Be My Eyes Be My Ears
          li Khan Academy Khan Academy
          li Old Man's Journey Broken Rules Interactive Media GmbH
          li Episode Pocket Gems
      .article__header
        h4 H4 How do you measure by baseline?
      .article__list
        ol
          li Simple Habit от Simp
          li Be My Eyes Be My Ears
          li Khan Academy Khan Academy
          li Old Man's Journey Broken Rules Interactive Media GmbH
          li Episode Pocket Gems
      .article__header
        h4 H4 How do you measure by baseline?
      .article__table
        table
          thead
            tr
              th Work Type
              th Khan Academy Khan Academy
              th Episode Pocket Gems
              th Old Man's Journey
          tbody
            tr
              td Main page prototyping
              td 1
              td 3
              td 1
            tr
              td Main page design
              td 1
              td -
              td 1
            tr
              td Internal pages design
              td 23
              td 1
              td 123
            tr
              td Testing
              td 1
              td 85
              td 1
      include article__social-block