.container--article
  section.who-we-are#who-we-are
    article.article
      .article__header
        h2 Header H2
      .article__slider
        include ../sliders/slider-img-in-article
      .article__paragraph
        p Over the last five years, practitioners at Williams Intellectual Property have written more than 500 utility patent applications for clients across the world.
        p Combining a strong, personal customer service ethic, technical writing skills, and a hard science background, Ben Williams and his team will work for you to bring your idea to fruition through the complex labyrinth and changing landscape of the United States Patent and Trademark Office.
        p A good patent is key to protecting your idea through each phase of development to market. And the patenting process is often daunting and confusing. Don’t make the common mistakes – Ben’s team can help you every step of the way, from disclosure to issue. Call our office today for a free consultation. We’re always happy to hear from you.