.popup.contact-us.mfp-hide#contact-us
  .popup__js-close.popup__close-button(tabindex="0")
      span.visually-hidden Close popup
      .popup__close-icon
  .form__send
    form.form
      .form__body.contact-us__body
        .form__header
          h3 Contact Us Today
        .form__block.form__block--column
          label.form__label.form__label--full-width Full NAME*
            input(type="text", name="name" ).form__input
          label.form__label.form__label--full-width E-mail*
            input(type="email", name="email" ).form__input
          label.form__label.form__label--full-width SUBJECT*
            input(type="text", name="subject" ).form__input
          label.form__label.form__label--full-width SUBJECT*
            textarea(name="textarea", rows="5" ).form__textarea
      button(type="submit").link-button Submit
  .form__accepted
    .contact-us__body
      article.article
        .article__header
          h3.span--ttnone Your message has been sent, we will contact you soon!
    .popup__js-close.link-button Done
    .contact-us__social
      include ../__social-icons/footer__social-icons