.contact-us {
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 20px;
  background-color: $bgc-popup;
  @media (min-width: $tablet) {
    padding-top: 1px;
    width: 580px;
  }
  &__body {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    @media (min-width: $tablet) {
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 75px;
    }
  }
  &__social {
    margin-top: 20px;
    text-align: center;
    height: 30px;
    a {
      line-height: 30px;
    }
  }
  .form {
    background-color: unset;
  }
}