.popup.info-entity-status.mfp-hide.no-js-popup#info-entity-status
  .popup__js-close.popup__close-button(tabindex="0")
    span.visually-hidden Close popup
    .popup__close-icon
  .info-entity-status__body
    article.article
      .article__header
        h3 Small Entity And Micro entity Status Requirements
      .article__paragraph
        p An applicant who is neither a small entity nor a micro entity is considered to be a corporate entity and must pay standard fees.
      .article__paragraph
        p 
          span.span--bold.span--op8 Small entity is an entity that:
      .article__list.article__list--nummod
        ol
          li is a nonprofit or educational organization;
          li does not, together with all affiliates, have 500 or more employees; and has not assigned, licensed or otherwise conveyed an interest in the invention to a non-small entity. The USPTO has defined four categories of concerns that qualify as “small entity”: a university, a nonprofit organization, an individual inventor, or a small business concern. The definitions for a “university,” “nonprofit organization,” and “individual inventor” are defined in the patent regulations. Notably, a wholly owned subsidiary of a nonprofit organization or of a university is considered a part of the nonprofit organization or university and may claim small-entity status.
      .article__paragraph
        p 
          span.span--bold.span--op8 Micro entity qualifications:
      .article__list.article__list--nummod
        ol
          li Under paragraph (a) of the new rule, requiring the following conditions that must be satisfied individually for each applicant, inventor, and joint inventor who:
            p has not been named as an inventor on more than 4 prior patent applications (provisional applications, patent applications filed in a foreign country, PCT international applications for which the basic US national fee was not paid, and applications that a party has assigned or is under an obligation of contract or law to assign as a result of previous employment do not count);
            p has gross income less than 3 times the median household income in the U.S. for the preceding calendar year (for 2018, an income less than $177,117). For parties not paid in US dollars, the average currency exchange rate during the previous calendar year applies.);
            p has not assigned, licensed or otherwise granted an interest in the invention to an entity which has a gross income more than the amount listed above (unless the entity relates to an institution of higher education);
            p and also meets the requirement for small entity status
          li Under paragraph (d) of the new rule, is by having a relationship with a U.S. institution of higher education. The applicant’s employer, from which the applicant obtains the majority of the applicant’s income, must be an institution of higher education.
            p Or, the application must be assigned, granted, conveyed, or is under and obligation of contract or law to assign, grant, or convey, a license ownership interest in the particular application to the institution of higher education. Pursuant to paragraph (d), applicants employed by the university who derive a majority of their income from the university, or an applicant who has assigned or has an obligation to assign to a university can also claim micro-entity status, regardless of income.
  .popup__js-close.link-button Done