.info-entity-status {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: $bgc-popup;
  @media (min-width: $desktope) {
    width: 980px;
    padding-top: 35px;
  }
  &__body {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    @media (min-width: $desktope) {
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 65px;
    }
  }
}