.container--article
  section.faq#faq
    article.article
      .article__spoiler
        details.article__spoiler-question
          summary(class="article__spoiler-summary") When do I get Patent Pending?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer As soon as you establish a filing date you secure patent pending and may disclose your idea with confidence. But remember, a patent is not enforceable until it issues and even with patent pending patentability is not guaranteed.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") What is a Microentity?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") What’s the Difference Between a Provisional Application and a Nonprovisional Application?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") What is a “Small entity”?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") Does a Provisional Application Imply Patentability?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") What is a “Nonprovisional Application”?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") Can a Design Patent Claim the Benefit of a Provisional Application Filing Date?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") How Long Until I Have a Patent?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") What Fees Will I have to Pay?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") What constitutes public use?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") Should I do a Patent Search?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") What is “Prior Art”?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") What is an “Office Action”?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.
        details.article__spoiler-question
          summary(class="article__spoiler-summary") Should I file a Provisional Application First?
            .article__spoiler-chevron
              +icon-class('chevron', 'icon-chevron--spoiler', '20', '11')
          p.article__spoiler-answer Under the America Invents Act, the USPTO now offers reduced filing fees for microentites. You qualify as a microentity if you reported a gross income of less than $150,162 last year and have less than four patents already in your name. See the current USPTO filing fees here. The USPTO periodically revises its fees in October. See a current fee schedule as published by the USPTO here.