section.slider-reviews
  .slider-reviews__header
    h3 What our clients say
  .slider-reviews__body
    .slider-reviews__nav.slider-reviews__nav--prev
      +icon-class-label('chevron', 'icon-chevron--left', 'reviews button left', '20', '11')
    .slider-reviews__nav.slider-reviews__nav--next
      +icon-class-label('chevron', 'icon-chevron--right', 'reviews button right', '20', '11')
    .slider-reviews__items
      div(class="review-item")
        h6 Robert, Richmond Hill NY
        p "Thank you very much Ben for your hard work on getting our patent filed so quickly!”
      div(class="review-item")
        h6 John, Pensacola FL
        p "Ben, you have exceeded our expectations with the detail and professionalism put into this non-provisional patent. From start to finish you have been there to answer any question we had and we can’t thank you enough.”
      div(class="review-item")
        h6 Srinivas, Dublin OK
        p "Ben, you have exceeded our expectations with the detail and professionalism put into this non-provisional patent.”
      div(class="review-item")
        h6 Robert, Richmond Hill NY
        p "Thank you very much Ben for your hard work on getting our patent filed so quickly!”
      div(class="review-item")
        h6 Robert, Richmond Hill NY
        p "Thank you very much Ben for your hard work on getting our patent filed so quickly!”
      div(class="review-item")
        h6 John, Pensacola FL
        p "Ben, you have exceeded our expectations with the detail and professionalism put into this non-provisional patent. From start to finish you have been there to answer any question we had and we can’t thank you enough.”
      //-div(style="display:none;" class="review-item")