.container--article
  section.fee-structure#fee-structure
    article.article
      .article__header
        h3 Filing Fee & Billing Details
      .article__paragraph
        p Williams Intellectual Property charges flat fees for patent prosecution in the United States. We don’t add surcharges onto any government filing fees or bill you additional fees (including Office Action responses and amendments) until prosecution on your patent application is closed. Utility and Design fees include all office action responses incurred during prosecution of your patent application.
        p You may incur separate fees for drawings (to a drafting company, if needed), or actions subsequent closure of prosecution, such as continuing prosecution, continuing applications, requests for continued examination, continuation-in-part applications, and any interference proceedings. In most instances the fee you pay us will carry you through to issuance or abandonment of your patent application. Call us for a free consultation if you’d like more information regarding our fees.
      .article__header
        h3 Fee Schedule
      .article__paragraph
        p <strong>Williams Intellectual Property Flat Fees:</strong><br>Includes ALL office action responses – you pay nothing more until prosecution is closed
      .article__paragraph.article__paragraph--shortline
        p Utility Patent: $3500 – $7500<br>Provisional Patent: $1550 – $1875<br>Design Patent: $1250 – $1875
      .article__paragraph.article__paragraph--shortline
        p For patent search and all other fees, please contact our office.<br>Utility and Design fees include all office action responses incurred during prosecution of your patent application.
      .article__header.article__header--text-transform-none
        h3.text-transform-none Fees due to the USPTO
      .article__paragraph
        p You are responsible for the USPTO fees, including the initial filing and the issue fee to issue your patent should your patent application be allowed. See list of fees here.
      .article__figure
        picture
          source(type="image/webp" media="(min-width: "+desktope+"px)" srcset="img/content/fee-structure_1.webp 1x, img/content/fee-structure_1@2x.webp 2x")
          source(media="(min-width: "+desktope+"px)" srcset="img/content/fee-structure_1.jpg 1x, img/content/fee-structure_1@2x.jpg 2x")
          source(type="image/webp" srcset="img/content/fee-structure_1@0.5x.webp 1x, img/content/fee-structure_1.webp 2x")
          img(class="article__img" src="img/content/fee-structure_1@0.5x.jpg" srcset="img/content/fee-structure_1.jpg 2x" alt="Fee structure picture")
        p.article__figure-label *A microentity is an inventor who reported gross income of less than $150,162 last year and has less than 4 patents in their name.
        p.article__figure-label **A small entity is a government, a nonprofit company, or higher education institution or a company with less than 50 employees.
