.call-us-today {
  @media (min-width: $desktope) {
    min-height: 330px;
    padding: 0;
  }
  &__content {
    @media (min-width: $desktope) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      align-content: stretch;
      min-height: 378px;
      padding-bottom: 20px;

      background-color: $bgc-element;
    }
    .call-us-today__phonenumber {
      margin-bottom: 40px;

      font-family: $font-head;
      font-size: 32px;
      line-height: 43px;
      color: $color-main;

      @media (min-width: $desktope) {
        margin-bottom: 0;
      }
    }
    .phonenumber {
      &--desktope {
        display: none;
        @media (min-width: $desktope) {
          display: block;
          margin-top: 20px;
        }
      }
      &--mobile {
        display: block;
        @media (min-width: $desktope) {
          display: none;
        }
      }
    }
  }
  &__header {
    display: block;
    @media (min-width: $desktope) {
      flex-basis: 50%;
      padding-right: 10px;
      padding-left: 8.5%;
    }
    h3 {
      display: block;
      margin-top: 55px;
      font-size: 36px;
      line-height: 34px;

      @media (min-width: $desktope) {
        margin-top: 20px;

        font-size: 56px;
        line-height: 52px;
      }
    }
    .subheader {
      display: block;
      margin-top: 5px;

      font-family: $font-article;
      font-size: $base-font-size;
      line-height: 26px;
    }
  }
  &__article {
      display: block;
      @media (min-width: $desktope) {
        flex-basis: 50%;
        padding-left: 10px;
        padding-right: 17%;
      }
      p {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;

        line-height: 26px;
        @media (min-width: $desktope) {
          margin-top: 0;
          padding-bottom: 5px;
        }
      }
  }
}

.bg-mobile-wrapper {
  background-color: $bgc-element;
  @media (min-width: $desktope) {
    background: none;
  }
}
.bg-desktope-wrapper {
  padding-bottom: 20px;
  @media (min-width: $desktope) {
    display: none;
  }
}
