.container--article
  section.thank-you-article#thank-you-article
    article.article
      .article__paragraph
        p In this business there are a lot of unscrupulous practitioners who prey off inventor ignorance. Make an informed choice. We won’t bamboozle you with jargon or leave you stranded. We’re here to help you through the complex labyrinth and changing landscape of the United States Patent and Trademark Office. Let us leverage our expertise and help you, from paper to marketplace. A brief message from Ben:
      .article__video
        <video controls poster="img/content/video-clickbait.jpg" preload="none" src="https://youtu.be/6Ron-Ikenfc"></video>
      .article__paragraph
        p We write each patent application by hand, with proper attention to detail. We don’t cut and paste into templates and forms, as so many other low-fee “firms” do. And we’re happy to answer your questions. You can download a free Overview of the Patenting Process here.
        p Avoid the common mistakes, see why Williams Intellectual Property is the smart choice. There are a lot of sharks in these waters. Williams Intellectual Property is your life raft. Take a look at these common misunderstandings frequently abused by profit-hungry bottom feeders.
        p You can watch our series of informational videos, presented by Ben Williams, by clicking on the links below. Each one is around a minute or two.
      .article__paragraph
        p.span--yellow Video 1: Introduction
        p.span--yellow Video 2: The Truth About “Low Fee Firms”
        p.span--yellow Video 3: What About Do-It-Yourself Firms?
        p.span--yellow Video 4: The Truth About “Provisional Patents”
        p.span--yellow Video 5: Best First Step: A Patent Search.
        p.span--yellow Video 6: Why Choose Williams Intellectual Property? How can Williams Intellectual Property Charge Low Fees?
        p.span--yellow Video 7: Conclusion, Recap, and Thank You for Watching.
      .article__paragraph
        p A competent patent application takes time and expertise. Most competent firms charge over $5,000 for a nonprovisional application for utility patent. How can we offer such low fees? At Williams Intellectual Property, we believe getting a patent shouldn’t be cost prohibitive; intellectual property should not be the province of large corporations. So we found a business model that keeps our costs low. We pass the savings on to you, the client.
        p Thank you for contacting Williams Intellectual Property. We look forward to working with you.