.container--article
  section.patenting-process#patenting-process
    article.article
      .article__paragraph
        p A patent is an enforceable writ providing inventors rights to practice their invention while restricting competitors from appropriating the invention, or practicing embodiments of the invention, without licensing the invention from the inventor. 
        p A patent is issued by the US Patent and Trademark Office, granting a temporary monopoly of the invention, in exchange for a full disclosure of the invention. The temporary monopoly granted an inventor is offered only in exchange for a full disclosure of the invention. A patent is, therefore, not an award for an inventor’s novel discovery, rather it is a tool used to effect disclosure of inventions for the public good. 
        p To secure your patent you must “enable” your invention in a patent disclosure. “Enablement” means that any person having ordinary skill in the filed of your invention would be able to practice the invention from reading the patent disclosure alone.
      .article__figure
        picture
          source(type="image/webp" media="(min-width: "+desktope+"px)" srcset="img/content/infographic_1.webp 1x, img/content/infographic_1@2x.webp 2x")
          source(media="(min-width: "+desktope+"px)" srcset="img/content/infographic_1.jpg 1x, img/content/infographic_1@2x.jpg 2x")
          source(type="image/webp" srcset="img/content/infographic_1@0.5x.webp 1x, img/content/infographic_1.webp 2x")
          img(class="article__img" src="img/content/infographic_1@0.5x.jpg" srcset="img/content/infographic_1.jpg 2x" alt="infographic")
        p.article__figure-label Summary of the patent process
      .article__figure
        picture
          source(type="image/webp" media="(min-width: "+desktope+"px)" srcset="img/content/infographic_2.webp 1x, img/content/infographic_2@2x.webp 2x")
          source(media="(min-width: "+desktope+"px)" srcset="img/content/infographic_2.jpg 1x, img/content/infographic_2@2x.jpg 2x")
          source(type="image/webp" srcset="img/content/infographic_2@0.5x.webp 1x, img/content/infographic_2.webp 2x")
          img(class="article__img" src="img/content/infographic_2@0.5x.jpg" srcset="img/content/infographic_2.jpg 2x" alt="infographic")
        p.article__figure-label Example time line establishing a date of priorty by filing a Provisional Application for Letters Patent
      .article__header
        h3 Brief Overview
      .article__list
        ol
          li Retain Williams Intellectual Property to draft your patent application. 
          li Determine entity status designation. The USPTO offers reduced filing fees for “microentities” and “small entities”. To qualify as a microentity, you must have reported a gross income of less than $150,162 last year and have less than four patents in your name. If you’re not a microentity, then you’re likely a small entity (unless you are a large corporation).. 
          li Disclose your invention to Williams Intellectual Property. Include as much information as you’re able. Once we understand your invention, we will begin drafting the patent application.
          li Finalize drawings that illustrate a preferred embodiment of your invention.
      .article__footnote
        p Approve the application, and authorize Williams Intellectual Property to represent you before the USPTO and file your patent application to secure patent pending.
        p • For utility and design applications, the application is queued in the Patent Office. It may take more than 18 months for a response to issue from the USPTO. Williams Intellectual Property will argue any Office Actions issued from the USPTO until prosecution on the application is closed, and the patent issues or is abandoned.
        p • For provisional applications, remember you have 12 months to effect a utility filing to maintain the priority of the provisional’s filing date. Failure to file the utility application within 12 months will result in the provisional application’s abandonment. For an example of a priority date established between a provisional application and a subsequently filed utility application, please refer to the time line below.
