.thank-you {
  margin-top: 45px;
  padding-top: 35px;
  @media (min-width: $desktope) {
    min-height: 330px;
    margin-top: 80px;
    padding: 0;
  }
  &__content {
    @media (min-width: $desktope) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      align-content: stretch;
      min-height: 330px;
      padding-bottom: 20px;

      background-color: $bgc-element;
    }
    .icon-thank-you {
      fill: $color-main;
      @media (min-width: $desktope) {
        flex-basis: 80px;
        margin-left: auto;
        margin-right: 10px;
        margin-bottom: 40px;
      }
    }
    h3 {
      margin-top: 15px;
      text-transform: none;
      @media (min-width: $desktope) {
        flex-basis: 33%;
        margin-top: 5px;
        padding: 0 10px;
      }
    }
    p {
      margin-top: 20px;
      margin-bottom: 30px;

      line-height: 26px;
      @media (min-width: $desktope) {
        flex-basis: 50%;
        margin: 0;
        padding-right: 17%;
        padding-left: 10px;
        padding-bottom: 15px;
      }
    }
  }
}

.bg-mobile-wrapper {
  background-color: $bgc-element;
  @media (min-width: $desktope) {
    background: none;
  }
}
.bg-desktope-wrapper {
  padding-bottom: 20px;
  @media (min-width: $desktope) {
    display: none;
  }
}
