.bg-mobile-wrapper
  .container
    section.thank-you
      +icon('thank-you', '68', '76')
      h3 Thank you for Choosing <br>Williams Intellectual Property
      p We’re here to help you through the complex labyrinth and changing landscape of the United States Patent and Trademark Office. Let us leverage our expertise and help you, from paper to marketplace.
  .container--without-mobile
    .bg-desktope-wrapper
      a(href="http://").link Learn more