.we-can-help-with {
  margin-bottom: 45px;
  @media (min-width: $desktope) {
    margin-top: 85px;
    margin-bottom: 80px;
  }
  &__header {
    margin-bottom: 25px;
    @media (min-width: $desktope) {
      margin-bottom: 35px;
    }
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 40%;
    min-height: 130px;
    margin-bottom: 70px;

    background-color: $bgc-element;

    @media (min-width: $desktope) {
      flex: 1 1 30%;
      justify-content: flex-end;
      min-height: 380px;
      margin-bottom: 20px;
      padding: 20px 0;
    }
    &:nth-child(2n) {
      margin-left: 20px;
      @media (min-width: $desktope) {
        margin-left: 0;
      }
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(6) {
      @media (min-width: $desktope) {
        margin-left: 20px;
      }
    }

    h5 {
      position: absolute;
      bottom: -7px;
      transform: translateY(100%);

      width: 100%;
      margin: 0;

      text-align: center;
      @media (min-width: $desktope) {
        position: relative;
        bottom: 0;
        transform: translateY(0);

        display: block;
        padding: 0 40px;
        height: 13%;
      }
    }
    p {
      display: none;
      padding: 0 13%;

      line-height: 26px;
      text-align: center;

      @media (min-width: $desktope) {
        display: block;
        height: 37.3%;
      }
    }
    .link-desktope {
      display: none;
      @media (min-width: $desktope) {
        display: block;
        height: 14.7%;
      }
    }
  }
  .block-link:hover {
    .we-can-help-with__icons,
    .we-can-help-with__icon-bad {
      opacity: 1;
      transition: 0.15s;
    }
  }
  &__icons {
    fill: $color-main;
    opacity: 0.5;
    transition: 0.15s;

    @media (min-width: $desktope) {
      margin: 5% 0;
      /* height: 35%; */
    }
  }
  &__icon-bad {
    fill: none;
    stroke: $color-main;
    opacity: 0.5;
    transition: 0.15s;

    @media (min-width: $desktope) {
      margin: 5% 0;
      /* height: 35%; */
    } 
  }
}