.container
  section.we-can-help-with.we-can-help-with--short
    .we-can-help-with__header
      h3 Header H3
    .we-can-help-with__body
      a(href="http://localhost:3000/plant-patents.html").we-can-help-with__item.block-link
        h5 Plant Patents
        p Plant patents are granted to an inventor who has invented or discovered, and asexually reproduced a distinct and new variety of plant.
        span.link-desktope Learn more
      a(href="http://localhost:3000/trademarks.html").we-can-help-with__item.block-link
        h5 Trademarks
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
        span.link-desktope Learn more
      a(href="http://localhost:3000/international-ip.html").we-can-help-with__item.block-link
        h5 International IP
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
        span.link-desktope Learn more