section.we-can-help-with
  .we-can-help-with__header
    h3 We can help with
  .we-can-help-with__body
    a(href="http://").we-can-help-with__item
      +icon-class('utility-patents', 'we-can-help-with__icon-bad', '72', '45')
      h5 Utility patents
      p Utility patents offer the broadest protection for any new or useful process, machine, manufacture, or composition of matter.
      span.link Learn more
    a(href="http://").we-can-help-with__item
      +icon-class('design-patents', 'we-can-help-with__icons', '57', '57')
      h5 Design patents
      p Design patents protect the way something looks, not the structural components informing the device.
      span.link Learn more
    a(href="http://").we-can-help-with__item
      +icon-class('provisional-patents', 'we-can-help-with__icons', '44', '57')
      h5 Provisional Patents
      p A provisional patent is a temporary filing, filed under 35 USC 111(b), used to secure the benefit of a filing date.
      span.link Learn more
    a(href="http://").we-can-help-with__item
      +icon-class('plant-patents', 'we-can-help-with__icons', '44', '67')
      h5 Plant Patents
      p Plant patents are granted to an inventor who has invented or discovered, and asexually reproduced a distinct and new variety of plant.
      span.link Learn more
    a(href="http://").we-can-help-with__item
      +icon-class('trademarks', 'we-can-help-with__icons', '65', '63')
      h5 Trademarks
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      span.link Learn more
    a(href="http://").we-can-help-with__item
      +icon-class('international-ip', 'we-can-help-with__icons', '57', '57')
      h5 International IP
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      span.link Learn more