.container
  section.slider-latest-news
    .slider-latest-news__header
      h3 The latest news <br>from our blog
    .slider-latest-news__body
      .slider-latest-news__nav.slider-latest-news__nav--prev
        +icon-class-label('chevron', 'icon-chevron--left', 'latest news button left', '20', '11')
      .slider-latest-news__nav.slider-latest-news__nav--next
        +icon-class-label('chevron', 'icon-chevron--right', 'latest news button right', '20', '11')
      .slider-latest-news__items.blog__body
        .blog__item
          a(href="blog-article.html").blog-link
            .img-bg-wrapper
              picture
                source(type="image/webp" srcset="img/content/blog_1.webp 1x, img/content/blog_1@2x.webp 2x")
                source(type="image/webp" srcset="img/content/blog_1@2x.jpg 2x")
                img(src="img/content/blog_1.jpg", alt="blog picture")
            time(datetime="2018-06-22") Jun. 22 2018
            h6 How To Increase Your ROI By Generating Star Patents In Your Portfolio?
            p The beauty of a crown is enhanced by its jewels. The gold, no matter how pure, just gives structure to the crown.
            span.submenu__item-props Starting a business
        .blog__item
          a(href="blog-article.html").blog-link
            .img-bg-wrapper
              picture
                source(type="image/webp" srcset="img/content/blog_2.webp 1x, img/content/blog_2@2x.webp 2x")
                source(type="image/webp" srcset="img/content/blog_2@2x.jpg 2x")
                img(src="img/content/blog_2.jpg", alt="blog picture")
            time(datetime="2018-06-22") Jun. 22 2018
            h6 5 Types Of Patent Examiners You Should Know
            p Innovation often starts with a “light bulb moment”. One works on his idea and then from idea, he moves to invention, and in the end to a patent application.
            span.submenu__item-props Starting a business
        .blog__item
          a(href="blog-article.html").blog-link
            .img-bg-wrapper
              picture
                source(type="image/webp" srcset="img/content/blog_3.webp 1x, img/content/blog_3@2x.webp 2x")
                source(type="image/webp" srcset="img/content/blog_3@2x.jpg 2x")
                img(src="img/content/blog_3.jpg", alt="blog picture")
            time(datetime="2018-06-22") Jun. 22 2018
            h6 How To Decrease Grant Time Using Simple Analytics
            p Getting an application granted on the first go is like a dream come true.
            span.submenu__item-props Starting a business
        .blog__item
          a(href="blog-article.html").blog-link
            .img-bg-wrapper
              picture
                source(type="image/webp" srcset="img/content/blog_4.webp 1x, img/content/blog_4@2x.webp 2x")
                source(type="image/webp" srcset="img/content/blog_4@2x.jpg 2x")
                img(src="img/content/blog_4.jpg", alt="blog picture")
            time(datetime="2018-06-22") Jun. 22 2018
            h6 How To Perform A Comprehensive Trademark Search?
            p Joe came up with a great name for his soon-to-be-released product. He is proud of the selection and cannot wait to share it with the world.
            span.submenu__item-props Starting a business