.slider-reviews {
  position: relative;
  padding-top: 0;
  padding-top: 60px;

  @media (min-width: $desktope) {
    padding-top: 90px;
  }
}
.slider-latest-news {
  position: relative;
  padding-top: 60px;

  @media (min-width: $desktope) {
    padding-top: 109px;
    br {
      display: none;
    }
  }
}

.slider-reviews,
.slider-latest-news {
  &__nav {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 20px;

    fill: $color-main;
    opacity: 0.4;
    transition: 0.2s;

    @media (min-width: 400px) {
      width: 50px;
    }
    @media (min-width: $desktope) {
      width: 110px;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
      transition: 0.2s;
    }

    &--prev {
      left: -20px;  
      @media (min-width: 400px) {
        left: -50px;
      }
      @media (min-width: $desktope) {
        left: -110px;
      }
    }
    &--next {
      right: -20px;
      @media (min-width: 400px) {
        right: -50px;
      }
      @media (min-width: $desktope) {
        right: -110px;
      }    
    }
  }
  .slider-latest-news__nav {
    @media (min-width: $desktope) {
      display: none;
    }
  }
}

.icon-chevron {
  &--left {
    transform: translateY(-50%);
    transform: rotate(-90deg);
  }
  &--right {
    transform: translateY(-50%);
    transform: rotate(90deg);
  }
}

ul.slick-dots {
  @media (min-width: $desktope) {
    bottom: -45px;
  }
  li {
    width: 25px;
    height: 25px;
    margin: 0 4px;
  }
  li button {
    position: absolute;
    top: 40%;

    width: 25px;
    height: 2px;
    padding: 0;

    background-color: $color-main;
    opacity: 0.3;
    transition: 0.15s;
  }
  li.slick-active button {
    opacity: 1;
    transition: 0.15s;
  }
}