.slider {
  position: relative;
  &__nav {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20px;

    fill: $color-main;
    opacity: 0.4;
    transition: 0.2s;

    @media (min-width: 400px) {
      width: 50px;
    }
    @media (min-width: $desktope) {
      width: 100px;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
      transition: 0.2s;
      background-color: rgba($black, 0.3);
    }

    &--prev {
      left: -20px;  
      @media (min-width: 400px) {
        left: -50px;
      }
      @media (min-width: $desktope) {
        left: -100px;
      }
    }
    &--next {
      right: -20px;
      @media (min-width: 400px) {
        right: -50px;
      }
      @media (min-width: $desktope) {
        right: -100px;
      }    
    }
  }
  &__items {
    display: flex;
    width: 100%;

    color: $white-op8;
    .slider-item {
      @media (min-width: $desktope) {
        width: 300px;
        padding: 0 10px;
        &:nth-child(1) {
          padding: 0;
          padding-right: 10px;
        }
      }
      h6 {
        font-size: $base-font-size;
        font-weight: normal;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 16px;
        @media (min-width: $desktope) {
          margin-top: 30px;
        }
      }
    }
  }
  &__img {
    object-fit: contain;
    width: 280px;
    height: 160px;
    margin: 0 auto;
    @media (min-width: $tablet) {
      width: 548px;
      height: 316px;
    }
    @media (min-width: $desktope) {
      width: 780px;
      height: 450px;
    }
  }
  &__item-label {
    padding-top: 19px;
  }
  ul.slick-dots {
    li button {
      margin-top: 20px;
      @media (min-width: $desktope) {
        margin-top: 2px;
      }
    }
  }
}