extends layout/main

block variables
  - var title = 'Contact - Williams Intellectual Property'
  - var PageHeaderBackground = "contact__header-background" //- class

block header
  .header
    include ../components/header/__nav
    .container
      .header__article.header__article--contact
        .breadcrumbs
          ul.breadcrumbs__body
            li.breadcrumbs__item
              a(href="http://localhost:3000/index.html").breadcrumbs__link Home
            li.breadcrumbs__item Contact
        article
          h1 Contact
          p.header__article-contact--bold Benjamin Williams, Registered Patent Agent, Reg. No. 70416
          p.header__article-contact Office: (720) 328-5343
          p.header__article-contact Fax: (720) 328-5297
          p.header__article-contact ben@wip.net
        .submenu.submenu__item-2.article__submenu
          a(href="http://").submenu__item-link
            +icon("arrow", "14", "9")
            span Contact us

block content
  section.container
    <iframe class="iframe-google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49118.739329967575!2d-105.01898503062235!3d39.696475485894666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b80aa231f17cf%3A0x118ef4f8278a36d6!2z0JTQtdC90LLQtdGALCDQmtC-0LvQvtGA0LDQtNC-LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1583259235789!5m2!1sru!2sru" width="auto" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  include ../components/call-us-today/call-us-today

block script