extends layout/main

block variables
  - var title = 'FAQ - Williams Intellectual Property'
  - var PageHeaderBackground = "faq__header-background" //- class

block header
  .header
    include ../components/header/__nav
    .container
      .header__article
        .breadcrumbs
          ul.breadcrumbs__body
            li.breadcrumbs__item
              a(href="index.html").breadcrumbs__link Home
            li.breadcrumbs__item FAQ
        article
          h1 FAQ
          p A patent is issued by the US Patent and Trademark Office, granting a temporary monopoly of the invention, in exchange for a full disclosure of the invention.
        .submenu.submenu__item-2.article__submenu
          a(href="#contact-us").submenu__item-link.js-popup-link 
            +icon("arrow", "14", "9")
            span Contact us
      .header__line
        .header__social-icons
        .header__anchor
          a(href="#faq").anchor
            .anchor__element
            span.visually-hidden Move below

block content
  include ../components/faq/faq
  include ../components/call-us-today/call-us-today

block script