extends layout/main

block variables
  - var title = "Williams Intellectual Property"
  - var PageHeaderBackground = "main-page__header-background" //- class

block header
  .header
    nav.header__nav.nav
      include ../components/nav/header__nav
      include ../components/nav/footer__nav
    .header__article
      h1 We Win Patents
      p "The Congress shall have the power... to promote the progress of science and useful arts, by securing for limited times to authors and inventors the exclusive right to their respective writings and discoveries.”<br>US Constitution § 8, Clause 8
    .header__social-icons.social-icons
      include ../components/__social-icons/header__social-icons
    .header__icon-anchor.icon-anchor
      .icon-anchor__element

block content

block script