extends layout/main

block variables
  - var title = "Williams Intellectual Property"
  - var PageHeaderBackground = "main-page__header-background" //- class

  //-var in ../we-can-help-with/we-can-help-with
  - var weCanHelpWithHeaderTitle = "We can help with"

block header
  .header.header--main-page
    include ../components/header/__nav
    .container
      .header__article.header__article--main-page
        article
          h1.article__header--main-page We win patents
          p "The Congress shall have the power... to promote the progress of science and useful arts, by securing for limited times to authors and inventors the exclusive right to their respective writings and discoveries.” <br>US Constitution § 8, Clause 8
      .header__line
        .header__social-icons.social-icons
          include ../components/__social-icons/header__social-icons
        .header__anchor
          a(href="#we-can-help-with").anchor
            .anchor__element
            span.visually-hidden Move below

block content
  include ../components/sliders/slider-reviews
  include ../components/we-can-help-with/we-can-help-with
  include ../components/thank-you/thank-you
  include ../components/recently-won-patents/recently-won-patents
  include ../components/call-us-today/call-us-today
  include ../components/sliders/slider-latest-news

block script