extends layout/main

block variables
  - var title = "Williams Intellectual Property"
  - var PageHeaderBackground = "main-page__header-background" //- class

block header
  .container
    .header
      include ../components/header/__nav
      .header__article.header__article--main-page
        article
          h1 We win patents
          p "The Congress shall have the power... to promote the progress of science and useful arts, by securing for limited times to authors and inventors the exclusive right to their respective writings and discoveries.” <br>US Constitution § 8, Clause 8
      .header__social-icons.social-icons
        include ../components/__social-icons/header__social-icons
      .header__anchor
        a(href="http://").anchor
          .anchor__element
          span.visually-hidden Move below

block content
  .container
    include ../components/slider-reviews/slider-reviews
    include ../components/we-can-help-with/we-can-help-with
  include ../components/thank-you/thank-you
  .container
    include ../components/recently-won-patents/recently-won-patents

block script