extends layout/main

block variables
  - var title = 'Plant Patents - Williams Intellectual Property'
  - var PageHeaderBackground = "utility-patents__header-background" //- class

  //-var in ../slider/slider-in-article
  - var file1 = "utility-patents_1"
  - var file2 = "utility-patents_1"
  - var file3 = "utility-patents_1"
  - var file4 = "utility-patents_1"
  - var label1 = "It's natural to fear that your idea might be stolen. But you can't turn your vision into reality without the help"
  - var label2 = "It's natural to fear that your idea might be stolen. But you can't turn your vision into reality without the help"
  - var label3 = "It's natural to fear that your idea might be stolen. But you can't turn your vision into reality without the help"
  - var label4 = "It's natural to fear that your idea might be stolen. But you can't turn your vision into reality without the help"

  //-var in ../we-can-help-with/we-can-help-with
  - var weCanHelpWithHeaderTitle = "Which Patent is Right for You?"
  - var itemNumberChosen = "4"


block header
  .header
    include ../components/header/__nav
    .container
      .header__article
        .breadcrumbs
          ul.breadcrumbs__body
            li.breadcrumbs__item
              a(href="index.html").breadcrumbs__link Home
            li.breadcrumbs__item
              a(href="#we-can-help-with").breadcrumbs__link Patent Types
            li.breadcrumbs__item Plant Patents
        article
          h1 Plant Patents
          p Over the last five years, practitioners at Williams Intellectual Property have written more than 500 utility patent applications for clients across the world.
        .submenu.submenu__item-2.article__submenu
          a(href="#contact-us").submenu__item-link.js-popup-link 
            +icon("arrow", "14", "9")
            span Contact us
      .header__line
        .header__social-icons
        .header__anchor
          a(href="#utility-patents").anchor
            .anchor__element
            span.visually-hidden Move below

block content
  include ../components/utility-patents/utility-patents
  include ../components/we-can-help-with/we-can-help-with--short
  include ../components/call-us-today/call-us-today
  include ../components/we-can-help-with/we-can-help-with
  include ../components/sliders/slider-reviews
  include ../components/sliders/slider-latest-news

block script