extends layout/main

block variables
  - var title = 'Thank You - Williams Intellectual Property'
  - var PageHeaderBackground = "thank-you__header-background" //- class

block header
  .header
    include ../components/header/__nav
    .container
      .header__article.header__article--thank-you
        .breadcrumbs
          ul.breadcrumbs__body
            li.breadcrumbs__item
              a(href="index.html").breadcrumbs__link Home
            li.breadcrumbs__item Submit Your Idea Now
        article
          h1 Thank you for Choosing Williams Intellectual Property!
          p.header__article-p--thank-you If you are an inventor in search of a registered patent agent, please call us today for a free consultation as to the patentability of your idea. This consultation is free, with the Principal at Williams Intellectual Property
        .submenu.submenu__item-2.article__submenu
          a(href="#contact-us").submenu__item-link.js-popup-link 
            +icon("arrow", "14", "9")
            span Contact us
      .header__line
        .header__social-icons
        .header__anchor
          a(href="#thank-you-article").anchor
            .anchor__element
            span.visually-hidden Move below

block content
  include ../components/thank-you-article/thank-you-article
  include ../components/call-us-today/call-us-today
  include ../components/sliders/slider-reviews

block script