extends layout/main

block variables
  - var title = 'Who We Are - Williams Intellectual Property'

block header
  .header.main-page__header
    .header__nav.nav
      include ../components/nav/header__nav
      include ../components/nav/footer__nav
    .header__breadcrumbs
      ul
        li
          a(href="")
        li
          a(href="")
        li
          a(href="")
    .header__article
      h1 
      p 
    .header__contact-us.link


block content
block script