section.recently-won-patents
  h3 Recently won patents
  p Partial List of Utility Patents Recently Won by Ben Williams! See a list of recently won utility patents!
  .submenu.submenu__item-5
    a(href="http://").submenu__item-link
      +icon("arrow", "14", "9")
      span See a List Patents