a(href="").social-icons-link
  +icon-label("social__fb", "facebook", "30", "30")
a(href="").social-icons-link
  +icon-label("social__tweeter", "tweeter", "30", "30")
a(href="").social-icons-link
  +icon-label("social__yelp", "yelp", "30", "30")
a(href="").social-icons-link
  +icon-label("social__gplus", "google plus", "30", "30")