a(href="").social-icons-link
  +iconPlusLabel("social__fb", "facebook", "26", "26", "0 0 30 30")
a(href="").social-icons-link
  +iconPlusLabel("social__tweeter", "tweeter", "26", "26", "0 0 30 30")
a(href="").social-icons-link
  +iconPlusLabel("social__yelp", "yelp", "26", "26", "0 0 30 30")
a(href="").social-icons-link
  +iconPlusLabel("social__gplus", "google plus", "26", "26", "0 0 30 30")