.link {
  position: relative;

  display: block;
  width: 100%;
  line-height: 41px;

  opacity: 0.4;
  background-color: $bgc-element-button;

  @media (min-width: $desktope) {
    line-height: 50px;
  }

  &:hover{
    color: $black;
    background-color: $color-main;
    opacity: 1;
  }
}
