nav.nav.header__nav.header__nav--menu-opened
  button.nav__burger.burger.burger--nojs(type="button")
    span.burger__elements
    span.visually-hidden Open menu
  .nav__logo
    a(href="index.html").nav__logo-link
      picture
        source(media="(min-width: 768px)" srcset="img/svg/logo.svg")
        img(class="icon-logo" src="img/svg/logo-mobile.svg" alt="logo Williams Intellectual Property")
  .nav__phonenumber
    a(href="tel:18883571068").nav__phonenumber-link 1-888-357-1068
  .nav__menu.menu
    include ../nav/__menu
.header__social-icons.social-icons
  include ../__social-icons/header__social-icons
.header__button-anchor
  button.button-anchor
    .button-anchor__element
    span.visually-hidden Move below