.header { 
  display: flex;
  flex-direction: column;
  &__nav{
    min-height: 161px;
  }
  &__article {
    h1 {
      font-weight: bold;
      font-size: 36px;
      line-height: 34px;
    }
    p {
      margin-top: 20px;

      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
    }
  }
}

.header__anchor {
  width: 22px;
  height: 36px;
}
.anchor {
  position: relative;

  display: block;
  width: inherit;
  height: inherit;
  margin-top: 15px;

  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 25px;

  background: none;

  transition: 0.1s;
  &__element {
    position: absolute;
    left: 8px;
    top: 7px;

    height: 10px;
    width: 0;

    border: 1px solid #FFFFFF;
    
    transition: 0.1s;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.1s;
  }
}

.header__article br {
  @media (min-width: $tablet) {
    display: none;
  }
}