.header { 
  display: flex;
  flex-direction: column;
  min-height: 470px;

  @media (min-width: $desktope) {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 640px;
  }

  &__nav{
    min-height: 131px;
    @media (min-width: $desktope) {
      flex: 0 1 100%;
      align-self: baseline;
      min-height: 145px;
      margin-top: 43px;
    }
    .container {
      @media (min-width: $desktope) {
        align-items: flex-start;
      }
    }
  }
  &--main-page {
    @media (min-width: $desktope) {
      min-height: 687px;
    }
    .header__nav {
      min-height: 161px;
    }
  }
  .menu__item--infooter {
    display: none;
  }
  &__article {
    @media (min-width: $desktope) {
      flex: 0 1 50%;

      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      min-height: 360px;
      margin-left: 50%;
      padding-left: 13px;
      transform: translateY(-20%);
    
      &--main-page {
        min-height: 400px;
        margin-top: 15px;
        margin-bottom: 15px;
        transform: translateY(-12%);
      }
    }
    .submenu__item-2 {
      @media (min-width: $desktope) {
        margin-top: 25px;
      }
    }
  }

  &__line {
    @media (min-width: $desktope) {
      display: flex;
      flex-wrap: nowrap;
      /* margin-bottom: 55px; */
    }
  }

  &__social-icons {
    display: none;
    @media (min-width: $desktope) {
      flex: 0 1 50%;

      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: left;

      padding-top: 20px;
    }
  }

  &__anchor {
    margin-top: 15px;

    @media (min-width: $desktope) {
      flex: 0 1 50%;

      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: left;

      margin-top: 0;
      padding-left: 10px;
    }
  }

  article {
    h1 {
      font-weight: bold;
      font-size: 36px;
      line-height: 34px;
      text-transform: capitalize;

      @media (min-width: $desktope) {
        font-size: 56px;
        line-height: 60px;
      }
    }
    p {
      margin-top: 20px;

      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      @media (min-width: $desktope) {
        line-height: 26px;
      }
    }
    br {
      @media (min-width: $tablet) {
        display: none;
      }
    }
    .article__header--main-page {
      @media (min-width: $desktope) {
        font-size: 64px;
        line-height: 60px;
      }
    }
  }
}

.anchor {
  position: relative;

  display: block;
  width: 22px;
  height: 36px;

  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 25px;

  background: none;

  transition: 0.1s;
  &__element {
    position: absolute;
    left: 8px;
    top: 7px;

    height: 10px;
    width: 0;

    border: 1px solid #FFFFFF;
    
    transition: 0.1s;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.1s;
  }
}

.breadcrumbs {
  display: inline-block;
  margin-bottom: 10px;

  list-style: none;
  font-family: $font-article;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  @media (min-width: $desktope) {
    margin-bottom: 0;
  }

  &__item {
    display: inline;

    color: $white-op5;
  }
  .breadcrumbs__item
  +.breadcrumbs__item:before {
    content: "/\00a0";
    /* padding: 8px; */
    color: rgba($color-main, 0.5);
    transition: 0.15s;
  }
  &__link {
    color: rgba($color-main, 0.5);
    transition: 0.15s;
    text-decoration: none;
    &:hover {
      color: $color-main;
      transition: 0.15s;
    }
  }
}