.main-page__header-background {
  height: 610px;
  background: url(../img/general/01_main-header--mobile@2x.webp) top center no-repeat;
  background-size: cover;

  @media (min-width: $desktope) {
    height: 983px;
    background: url(../img/general/01_main-header--desktope.webp) center center no-repeat;
    background-size: cover;
  }
}