.wrapper-parallax {
  position: relative;
  z-index: 1;
  perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.bg-middle-page {
  content: '';
  position: absolute;
  top: 1500px;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 1470px;
  transform: translateZ(-1px) scale(1.55);
  overflow: hidden;
  @media (min-width: $tablet) {
    background: $bgc-page url(../img/general/middlepage-bg--desktope.jpg) center no-repeat;
    background: $bgc-page url(../img/general/middlepage-bg--desktope.webp) center no-repeat;
    background-size: cover;
  }
  @media 
  (min-width: $tablet) and (min-resolution: $retina-dpi), 
  (min-width: $tablet) and (min-resolution: $retina-dppx) {
    background: $bgc-page url(../img/general/middlepage-bg--desktope@2x.jpg) center no-repeat;
    background: $bgc-page url(../img/general/middlepage-bg--desktope@2x.webp) center no-repeat;
    background-size: cover;
  }
}
.main-page__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -360px; 
    left: 0;
    width: 100%; 
    height: 610px;  
    opacity: 1;
    z-index: -3;
    transform: translateZ(-4px) scale(3.05);
    background: url(../img/general/01_main-header__bg--mobile.jpg) top center no-repeat;
    background: url(../img/general/01_main-header__bg--mobile.webp) top center no-repeat;
    background-size: cover;

    @media (min-width: $tablet) {
      top: 0;
      height: 983px;
      background: url(../img/general/01_main-header__bg--desktope.jpg) center center no-repeat;
      background: url(../img/general/01_main-header__bg--desktope.webp) center center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      top: 0;
      height: 983px;
      background: url(../img/general/01_main-header__bg--desktope@2x.jpg) center center no-repeat;
      background: url(../img/general/01_main-header__bg--desktope@2x.webp) center center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      top: 0;
      height: 983px;
      background: url(../img/general/01_main-header__bg--desktope.jpg) center center no-repeat;
      background: url(../img/general/01_main-header__bg--desktope.webp) center center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      top: 0;
      height: 983px;
      background: url(../img/general/01_main-header__bg--desktope@2x.jpg) center center no-repeat;
      background: url(../img/general/01_main-header__bg--desktope@2x.webp) center center no-repeat;
      background-size: cover;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 280px; 
    left: 0;
    width: 100%; 
    height: 260px;  
    opacity: 1;
    z-index: -2;
    transform: translateZ(-1px) scale(1.55);
    background: url(../img/general/01_main-header--mobile@2x.jpg) top center no-repeat;
    background: url(../img/general/01_main-header__mount--mobile.webp) top center no-repeat;
    background-size: cover;

    @media (min-width: $tablet) {
      height: 710px;
      background: url(../img/general/01_main-header--desktope.jpg) center center no-repeat;
      background: url(../img/general/01_main-header__mount--desktope.webp) center center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 710px;
      background: url(../img/general/01_main-header--desktope@2x.jpg) center center no-repeat;
      background: url(../img/general/01_main-header__mount--desktope@2x.webp) center center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 983px;
      background: url(../img/general/01_main-header--desktope.jpg) center center no-repeat;
      background: url(../img/general/01_main-header__mount--desktope.webp) center center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 983px;
      background: url(../img/general/01_main-header--desktope@2x.jpg) center center no-repeat;
      background: url(../img/general/01_main-header__mount--desktope@2x.webp) center center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 880px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    transform: translateZ(-1px) scale(1.55);
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 1200px;
    }
    @media (min-width: $desktope) {
      top: 1500px;
    }
  }
  .bg-middle-page {
    top: 2000px;
  }
}
.who-we-are__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px; 
    left: 0;
    width: 100%; 
    height: 470px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/02_who-we-are--mobile@2x.jpg) bottom center no-repeat;
    background: url(../img/general/02_who-we-are--mobile@2x.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/02_who-we-are--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/02_who-we-are--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/02_who-we-are--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/02_who-we-are--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/02_who-we-are--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/02_who-we-are--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 630px;
      background: url(../img/general/02_who-we-are--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/02_who-we-are--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 630px;
      background: url(../img/general/02_who-we-are--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/02_who-we-are--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 470px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 630px;
    }
  }
}
.what-we-do__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100%; 
    height: 470px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/03_what-we-do--mobile.jpg) bottom center no-repeat;
    background: url(../img/general/03_what-we-do--mobile.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/03_what-we-do--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/03_what-we-do--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/03_what-we-do--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/03_what-we-do--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/03_what-we-do--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/03_what-we-do--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 630px;
      background: url(../img/general/03_what-we-do--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/03_what-we-do--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 630px;
      background: url(../img/general/03_what-we-do--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/03_what-we-do--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 470px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 630px;
    }
  }
  .bg-middle-page {
    top: 1400px;
  }
}
.utility-patents__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100%; 
    height: 470px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/03a_utility-patents--mobile.jpg) bottom center no-repeat;
    background: url(../img/general/03a_utility-patents--mobile.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/03a_utility-patents--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/03a_utility-patents--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/03a_utility-patents--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/03a_utility-patents--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/03a_utility-patents--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/03a_utility-patents--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 630px;
      background: url(../img/general/03a_utility-patents--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/03a_utility-patents--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 630px;
      background: url(../img/general/03a_utility-patents--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/03a_utility-patents--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 470px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 630px;
    }
  }
  .bg-middle-page {
    top: 2000px;
  }
}
.patenting-process__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100%; 
    height: 470px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/04_patenting-process--mobile.jpg) bottom center no-repeat;
    background: url(../img/general/04_patenting-process--mobile.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/04_patenting-process--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/04_patenting-process--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/04_patenting-process--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/04_patenting-process--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/04_patenting-process--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/04_patenting-process--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 630px;
      background: url(../img/general/04_patenting-process--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/04_patenting-process--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 630px;
      background: url(../img/general/04_patenting-process--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/04_patenting-process--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 470px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 630px;
    }
  }
  .bg-middle-page {
    top: 2000px;
  }
}
.fee-structure__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px; 
    left: 0;
    width: 100%; 
    height: 470px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/05_free-structure--mobile.jpg) bottom center no-repeat;
    background: url(../img/general/05_free-structure--mobile.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/05_free-structure--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/05_free-structure--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/05_free-structure--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/05_free-structure--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/05_free-structure--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/05_free-structure--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 630px;
      background: url(../img/general/05_free-structure--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/05_free-structure--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 630px;
      background: url(../img/general/05_free-structure--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/05_free-structure--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 470px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 630px;
    }
  }
}
.faq__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100%; 
    height: 470px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/06-faq--mobile.jpg) bottom center no-repeat;
    background: url(../img/general/06-faq--mobile.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/06-faq--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/06-faq--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/06-faq--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/06-faq--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/06-faq--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/06-faq--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 630px;
      background: url(../img/general/06-faq--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/06-faq--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 630px;
      background: url(../img/general/06-faq--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/06-faq--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 470px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 630px;
    }
  }
  .bg-middle-page {
    top: 1000px;
  }
}
.blog__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100%; 
    height: 470px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/07_blog--mobile.jpg) bottom center no-repeat;
    background: url(../img/general/07_blog--mobile.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/07_blog--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/07_blog--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/07_blog--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/07_blog--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/07_blog--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/07_blog--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 630px;
      background: url(../img/general/07_blog--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/07_blog--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 630px;
      background: url(../img/general/07_blog--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/07_blog--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 470px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 630px;
    }
  }
}
.blog-article__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100%; 
    height: 600px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-4px) scale(3.05);
    background: url(../img/general/07a_article--mobile.jpg) bottom center no-repeat;
    background: url(../img/general/07a_article--mobile.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/07a_article--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/07a_article--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 600px;
      background: url(../img/general/07a_article--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/07a_article--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 600px;
      background: url(../img/general/07a_article--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/07a_article--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 687px;
      background: url(../img/general/07a_article--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/07a_article--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 687px;
      background: url(../img/general/07a_article--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/07a_article--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 600px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 600px;
    }
    @media (min-width: $desktope) {
      top: 687px;
    }
  }
}
.contact__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100%; 
    height: 470px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/08_contact--mobile.jpg) bottom center no-repeat;
    background: url(../img/general/08_contact--mobile.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/08_contact--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/08_contact--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/08_contact--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/08_contact--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/08_contact--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/08_contact--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 630px;
      background: url(../img/general/08_contact--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/08_contact--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 630px;
      background: url(../img/general/08_contact--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/08_contact--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 470px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 630px;
    }
  }
  .bg-middle-page {
    top: 0;
    height: 0;
    background: unset;
  }
}
.submit-your-idea__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100%; 
    height: 520px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/09_submit-your-idea-now--mobile.jpg) bottom center no-repeat;
    background: url(../img/general/09_submit-your-idea-now--mobile.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/09_submit-your-idea-now--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/09_submit-your-idea-now--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/09_submit-your-idea-now--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/09_submit-your-idea-now--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/09_submit-your-idea-now--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/09_submit-your-idea-now--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 630px;
      background: url(../img/general/09_submit-your-idea-now--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/09_submit-your-idea-now--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 630px;
      background: url(../img/general/09_submit-your-idea-now--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/09_submit-your-idea-now--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 520px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 630px;
    }
  }
  .bg-middle-page {
    top: 0;
    height: 0;
    background: unset;
  }
}
.page-404__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100%; 
    height: 470px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/11_404--desktope.jpg) bottom center no-repeat;
    background: url(../img/general/11_404--desktope.webp) bottom center no-repeat;
    background-size: contain;
    background-color: $black;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/11_404--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/11_404--desktope.webp) bottom center no-repeat;
      background-size: contain;
      background-color: $black;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/11_404--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/11_404--desktope.webp) bottom center no-repeat;
      background-size: contain;
      background-color: $black;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/11_404--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/11_404--desktope@2x.webp) bottom center no-repeat;
      background-size: contain;
      background-color: $black;
    }
    @media (min-width: $desktope) {
      height: 762px;
      background: url(../img/general/11_404--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/11_404--desktope.webp) bottom center no-repeat;
      background-size: contain;
      background-color: $black;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 762px;
      background: url(../img/general/11_404--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/11_404--desktope@2x.webp) bottom center no-repeat;
      background-size: contain;
      background-color: $black;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 470px;
    left: 0px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 762px;
    }
  }
  .bg-middle-page {
    top: 0;
    height: 0;
    background: unset;
  }
}
.thank-you__header-background {
  &::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100%; 
    height: 470px;  
    opacity: 0.5;
    z-index: -3;
    transform: translateZ(-3px) scale(3.05);
    background: url(../img/general/12_thank-you--mobile.jpg) bottom center no-repeat;
    background: url(../img/general/12_thank-you--mobile.webp) bottom center no-repeat;
    background-size: cover;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/12_thank-you--mobile@2x.jpg) bottom center no-repeat;
      background: url(../img/general/12_thank-you--mobile@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $tablet) {
      height: 550px;
      transform: translateZ(-4px) scale(3.05);
      background: url(../img/general/12_thank-you--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/12_thank-you--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      height: 550px;
      background: url(../img/general/12_thank-you--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/12_thank-you--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      height: 690px;
      background: url(../img/general/12_thank-you--desktope.jpg) bottom center no-repeat;
      background: url(../img/general/12_thank-you--desktope.webp) bottom center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      height: 690px;
      background: url(../img/general/12_thank-you--desktope@2x.jpg) bottom center no-repeat;
      background: url(../img/general/12_thank-you--desktope@2x.webp) bottom center no-repeat;
      background-size: cover;
    }
  }
  .bg-parallax-bottom-cover {
    content: '';
    position: absolute;
    top: 470px;
    left: 0px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: $bgc-page;
    z-index: -2;
    @media (min-width: $tablet) {
      top: 550px;
    }
    @media (min-width: $desktope) {
      top: 690px;
    }
  }
}