.main-page__header-background {
  height: 610px;
  background: url(../img/general/01_main-header--mobile@2x.jpg) top center no-repeat;
  background: url(../img/general/01_main-header--mobile@2x.webp) top center no-repeat;
  background-size: cover;

  @media (min-width: $desktope) {
    height: 983px;
    background: url(../img/general/01_main-header--desktope.jpg) center center no-repeat;
    background: url(../img/general/01_main-header--desktope.webp) center center no-repeat;
    background-size: cover;
  }
  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    height: 983px;
    background: url(../img/general/01_main-header--desktope@2x.jpg) center center no-repeat;
    background: url(../img/general/01_main-header--desktope@2x.webp) center center no-repeat;
    background-size: cover;
  }
}