.link-button {
  position: relative;

  display: block;
  width: 100%;
  line-height: 41px;
  border: none;

  color: $black;
  cursor: pointer;
  background-color: $color-main;
  transition: 0.15s;
  /* @media (min-width: $desktope) {
    line-height: 50px;
  } */
  &:hover,
  &:focus {
    background-color: $bgc-link-hover;
    transition: 0.15s;
    outline-color: $white;
  }
}

.link-desktope {
  position: relative;

  display: none;
  width: 100%;
  line-height: 41px;

  background-color: $bgc-element-button;
  transition: 0.15s;

  @media (min-width: $desktope) {
    display: block;
    line-height: 50px;
  }
  &:hover{
    color: $black;
    background-color: $color-main;
    opacity: 1;
    transition: 0.15s;
  }
}

.link-mobile {
  position: relative;

  display: block;
  width: 100%;
  line-height: 41px;

  color: $black;
  background-color: $color-main;
  opacity: 1;

  @media (min-width: $desktope) {
    display: none;

    line-height: 50px;
  }
}

.block-link:hover,
.block-link:focus {
  cursor: pointer;
  h6, p {
    color: $white;
    opacity: 1;
    transition: 0.15s;
  }
  h5 {
    color: $color-main;
    transition: 0.15s;
  }
  .link-desktope {
    color: $black;
    background-color: $color-main;
    opacity: 1;
    transition: 0.15s;
  }
}