- var retina = true

mixin icon(nameIcon, $width, $height, $viewBox)
  if($viewBox)
    svg(class="svg-sprite-icon icon-"+nameIcon width=""+$width height=""+$height viewBox=""+$viewBox)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)
  else
   svg(class="svg-sprite-icon icon-"+nameIcon width=""+$width height=""+$height)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)

mixin icon-label(nameIcon, $label, $width, $height, $viewBox)
  if($viewBox)
    svg(class="svg-sprite-icon icon-"+nameIcon aria-label=""+$label width=""+$width height=""+$height viewBox=""+$viewBox)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)
  else
   svg(class="svg-sprite-icon icon-"+nameIcon aria-label=""+$label width=""+$width height=""+$height)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)

mixin icon-class(nameIcon, classIcon, $width, $height, $viewBox)
  if($viewBox)
    svg(class="svg-sprite-icon icon-"+nameIcon+" "+classIcon width=""+$width height=""+$height viewBox=""+$viewBox)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)
  else
   svg(class="svg-sprite-icon icon-"+nameIcon+" "+classIcon width=""+$width height=""+$height)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)

mixin icon-class-label(nameIcon, classIcon, $label, $width, $height, $viewBox)
  if($viewBox)
    svg(class="svg-sprite-icon icon-"+nameIcon+" "+classIcon aria-label=""+$label width=""+$width height=""+$height viewBox=""+$viewBox)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)
  else
   svg(class="svg-sprite-icon icon-"+nameIcon+" "+classIcon aria-label=""+$label width=""+$width height=""+$height)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)

mixin article-social-icon-label(nameIcon, $label, $width, $height, $viewBox)
  if($viewBox)
    svg(class="svg-sprite-icon icon-"+nameIcon aria-label=""+$label width=""+$width height=""+$height viewBox=""+$viewBox)
      use(xlink:href="img/svg/sprite.svg#"+nameIcon)
  else
   svg(class="svg-sprite-icon icon-"+nameIcon aria-label=""+$label width=""+$width height=""+$height)
      use(xlink:href="img/svg/sprite-article-social.svg#"+nameIcon)

//- mobile-first. (--desktope, --tablet, --phone)x2 retina, x2 webp = 12 pics
//- (!) .webp is default exist
//- img/file--desktope@x2.format
mixin img(file,format,classImg,alttext,retina)
  if(retina)
    picture
      source(type="image/webp" media="(min-width: "+desktope+"px)" srcset="img/"+file+"--desktope.webp 1x, img/"+file+"--desktope@2x.webp 2x")
      source(media="(min-width: "+desktope+"px)" srcset="img/"+file+"--desktope."+format+" 1x, img/"+file+"--desktope@2x."+format+" 2x")
      source(type="image/webp" media="(min-width: "+tablet+"px)" srcset="img/"+file+"--tablet.webp 1x, img/"+file+"--tablet@2x.webp 2x")
      source(media="(min-width: "+tablet+"px)" srcset="img/"+file+"--tablet."+format+" 1x, img/"+file+"--tablet@2x."+format+" 2x")
      source(type="image/webp" media="(max-width: "+(tablet-1)+"px)" srcset="img/"+file+"--phone.webp 1x, img/"+file+"--phone@2x.webp 2x")
      img(class=""+classImg src="img/"+file+"--phone."+format srcset="img/"+file+"--phone@2x."+format+" 2x" alt=""+alttext)
  else
    picture
      source(type="image/webp" media="(min-width: "+desktope+"px)" srcset="img/"+file+"--desktope.webp")
      source(media="(min-width: "+desktope+"px)" srcset="img/"+file+"--desktope."+format+" 1x")
      source(type="image/webp" media="(min-width: "+tablet+"px)" srcset="img/"+file+"--tablet.webp 1x")
      source(media="(min-width: "+tablet+"px)" srcset="img/"+file+"--tablet."+format+" 1x")
      source(type="image/webp" media="(max-width: "+(tablet-1)+"px)" srcset="img/"+file+"--phone.webp 1x")
      img(class=""+classImg src="img/"+file+"--phone."+format alt=""+alttext)
