.utility-patents {
  position: relative;
  padding-top: 30px;

  @media (min-width: $desktope) {
    padding-top: 85px;
    padding-bottom: 0;
  }
  &__article,
  &__article-2 {
    padding-top: 20px;
    @media (min-width: $desktope) {
      padding-top: 25px;
    }
    p { 
      margin-bottom: 15px;

      font-size: 18px;
      line-height: 29px;
    }
  }
  &__slider {
    @media (min-width: $desktope) {
      padding-top: 10px;
    }
  }
  &__article-2 {
    @media (min-width: $desktope) {
      padding-top: 65px;
    }
  }
}