.container--article
  section.utility-patents#utility-patents
    .utility-patents__header
      h2 Header H2
    .utility-patents__article
      p Utility patents offer the broadest protection for any new or useful process, machine, manufacture, or composition of matter. Utility patents are filed under 35 USC 111(a) and offer inventors protection against infringement for a term of 20 years, calculated from the filing date. Most inventors seek to obtain utility protection for their device. In order to qualify for utility protection, a device must be “enabled”, that is, a person having ordinary skill in the art to which the patent pertains must be able to practice the invention after reading the patent.
    .utility-patents__slider
      include ../sliders/slider-img-in-article
    .utility-patents__article-2
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.