.footer-bg-wrapper {
  position: relative;
  z-index: 1;
  margin-top: 45px;
  @media (min-width: $desktope) {
    margin-top: 122px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.4;
    z-index: -1;
    background: url(../img/general/footer--mobile.jpg) center center no-repeat;
    background: url(../img/general/footer--mobile.webp) center center no-repeat;
    @media 
    (min-resolution: $retina-dpi), 
    (min-resolution: $retina-dppx) {
      background: url(../img/general/footer--mobile@2x.jpg) center center no-repeat;
      background: url(../img/general/footer--mobile@2x.webp) center center no-repeat;
    }
    @media (min-width: $tablet) {
      background: url(../img/general/footer--desktope.jpg) center center no-repeat;
      background: url(../img/general/footer--desktope.webp) center center no-repeat;
      background-size: cover;
    }
    @media 
    (min-width: $tablet) and (min-resolution: $retina-dpi), 
    (min-width: $tablet) and (min-resolution: $retina-dppx) {
      background: url(../img/general/footer--desktope@2x.jpg) center center no-repeat;
      background: url(../img/general/footer--desktope@2x.webp) center center no-repeat;
      background-size: cover;
    }
    @media (min-width: $desktope) {
      background: url(../img/general/footer--desktope.jpg) center center no-repeat;
      background: url(../img/general/footer--desktope.webp) center center no-repeat;
    }
    @media 
    (min-width: $desktope) and (min-resolution: $retina-dpi), 
    (min-width: $desktope) and (min-resolution: $retina-dppx) {
      background: url(../img/general/footer--desktope@2x.jpg) center center no-repeat;
      background: url(../img/general/footer--desktope@2x.webp) center center no-repeat;
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  min-height: 540px;
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    min-height: 460px;
    padding-bottom: 40px;
  }
  @media (min-width: $desktope) {
    min-height: 290px;
    padding-bottom: 53px;
  }

  &__nav {
    margin-top: 60px;

    @media (min-width: $desktope) {
      display: flex;
      margin-top: 53px;
    }
    .nav__menu {
      order: 1;
      column-count: 2;
      column-gap: 0;
      margin-top: 0;

      @media (min-width: $desktope) {
        flex-grow: 1;
        column-count: 1;
        margin-right: 8.4%;
      }
      .menu__item {
        padding: 4px 0;
        &-link {
          padding: 0;

          font-size: 12px;
          line-height: 18px;

          @media (min-width: $desktope) {
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
    .submenu__item-5 {
      margin-top: 10px;
      @media (min-width: $desktope) {
        margin-top: 0;
      }
    }
    .nav__submenu {
      order: 2;
      padding: 0;
      @media (min-width: $desktope) {
        flex-grow: 0;
      }
      .submenu__item-link span {
        margin-right: 14px;
      }
    }
  }

  &__social {
    margin-top: 43px;
    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    &-icons {
      margin-top: 3px;
      .social-icons-link {
        margin-right: 7px;
      }
      .social-icons-link:last-child {
        margin-right: 0;
      }
    }
  }

  &__info {
    margin-top: 16px;
    @media (min-width: $desktope) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 32px;
    }
    span, .rating__caption {
      font-family: $font-note;
      font-size: 14px;
      line-height: 10px;
      color: $white;
    }
    p {
      font-family: $font-note;
      font-size: 14px;
      line-height: 23px;
      color: $white;
    }
    .company-info__phonenumber {
      margin-top: 4px;
      color: rgba($color-main, 0.9);
    }
    .copyright { color: $white-op5; }

    .company-info__address {
      margin-top: 18px;
      @media (min-width: $desktope) {
        margin-top: 10px;
      }
    }
    .copyright {
      margin-top: 18px;
    }
  }
}

.accreditation {
  display: flex;
  justify-content: space-between;
  @media (min-width: $tablet) {
    justify-content: flex-start;
  }
  &__bbb {
    display: flex;
    .accreditation__label { margin: 0 6px; }
    &:hover {
      .accreditation__label p {
        color: $white-op5;
        transition: 0.15s;
      }
    }
  }
  .icon-footer__napp { fill: #CDCDCF; }
}

.rating {
  position: relative;

  max-width: max-content;
  padding: 0;
  padding-right: 115px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  border: none;
  
  &__caption { 
    padding: 0;
    white-space: nowrap;
  }
  
  &__group {
    position: absolute;
    bottom: -1px;
    right: 8px;
    width: 100px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 20 16' fill='rgb(217, 219, 221)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0L10 6.1H16L11.1429 10L12.9524 16L8 12.5L3.04762 16L4.85714 10L0 6.1H6.09524L8 0Z' fill='rgb(217, 219, 221)'/%3E%3C/svg%3E");
    background-size: 20px auto;
    background-repeat: repeat-x;

    &:focus-within {
      outline: 2px solid rgba($color-main, 0.5);
      outline-offset: 0.2em;
    }
  }
  
  &__star {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 17px;
    font-size: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 20px auto;
    background-repeat: repeat-x;

    &:focus { outline: none; }
    &:nth-of-type(1) { z-index: 5; width: 20px; }
    &:nth-of-type(2) { z-index: 4; width: 40px; }
    &:nth-of-type(3) { z-index: 3; width: 60px; }  
    &:nth-of-type(4) { z-index: 2; width: 80px; }
    &:nth-of-type(5) { z-index: 1; width: 100px; }
  }
}
.rating__star:hover,
.rating__star:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 20 16' fill='rgb(255, 225, 149)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0L10 6.1H16L11.1429 10L12.9524 16L8 12.5L3.04762 16L4.85714 10L0 6.1H6.09524L8 0Z' fill='rgb(255, 225, 149)'/%3E%3C/svg%3E");
}
.rating__star:hover ~ .rating__star {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0L10 6.1H16L11.1429 10L12.9524 16L8 12.5L3.04762 16L4.85714 10L0 6.1H6.09524L8 0Z' fill='none'/%3E%3C/svg%3E");
}