.blog__body {
  display: flex;
  flex-wrap: wrap;
  
  color: $white-op8;
  @media (min-width: $desktope) {
    margin-left: -10px;
    margin-right: -10px;
  }
  .review-item,
  .blog__item {
    @media (min-width: $desktope) {
      width: 300px;
      padding: 0 10px;
    }
    .img-bg-wrapper {
      width: 280px;
      height: 200px;
      margin-top: 16px;
      margin-bottom: 5px;
      @media (min-width: $desktope) {
        margin-top: 35px;
        margin-bottom: 10px;
      }
    }
    h6 {
      font-size: $base-font-size;
      font-weight: normal;
      line-height: 20px;
      margin-top: 20px;
      margin-bottom: 16px;
      @media (min-width: $desktope) {
        margin-top: 30px;
      }
    }
  }
  .blog__item {
    h6 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  span.submenu__item-props {
    display: inline-block;
    height: 30px;
    margin-top: auto;
    margin-bottom: 27px;
    padding: 6px 14px 6px 17px;
    color: $black;
    background-color: $white-op3;
    transition: 0.15s;
    
    @media (min-width: $desktope) {
      display: none;
    }
  }
  a.blog-link {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    min-height: 460px;
    .img-bg-wrapper { background-color: $color-main; }
    img {
      object-fit: contain;
      opacity: 1;
      transition: 0.15s;
    }
    &:hover {
      img {
        opacity: 0.4;
        transition: 0.15s;
      }
      p, h6 {
        color: $white;
        transition: 0.15s;
      }
      span.submenu__item-props {
        background-color: $color-main;
        transition: 0.15s;
      }
    }
  }
}
.blog {
  padding-top: 40px;
  @media (min-width: $desktope) {
    padding-top: 55px;
  }
  a.blog-link {
    min-height: 428px;
  }
}