section.submit-your-idea#submit-your-idea
  form.form
    .container--form.form__body
      .form__header
        h3 Start Your Patent Process
      .form__subheader
        h4 Inventor Information
      .form__block
        label.form__label First name*
          input(type="text" name="name").form__input
        label.form__label Last name*
          input(type="text" name="lastname").form__input
        label.form__label Phone*
          input(type="tel", name="phone").form__input
        label.form__label Email*
          input(type="email", name="email").form__input
      .form__block
        label.form__label-checkbox.form__label-checkbox--full-width.form__label-checkbox--top-block I US citizen
          input(type="checkbox", name="").form__input-checkbox
          span.checkmark
        label.form__label Country
          input(type="text").form__input
        label.form__label City
          input(type="text").form__input
        label.form__label State / Province / Region
          input(type="text").form__input
        label.form__label ZIP / Postal Code
          input(type="text").form__input
        label.form__label Street Address
          input(type="text").form__input
        label.form__label Address Line 2
          input(type="text").form__input
      .form__block
        label.form__label What is the best way to reach you?
          input(type="text").form__input
        .file-upload(data-count-files="1")
          .one-file
            input(name="file-1" id="file-1" type="file").file-upload__input.visually-hidden
            label(for="file-1").file-upload__button.button 
              span.file-upload__button-text Attach File
            .file-upload__attached-file.hide-btn
              span.attached-file__button-delete-file
              span.attached-file__file-name
        label.form__label-checkbox.form__label-checkbox--full-width I have a co-inventor
          input(type="checkbox", name="checkbox-shower").form__input-checkbox.form__input-checkbox--shower-block
          span.checkmark
      .form__big-line
      .form__block.form__block--hiden#form__block--hiden
        .form__subheader
          h4 Co-inventor
        .form__block
          label.form__label First name*
            input(type="text" name="name").form__input
          label.form__label Last name*
            input(type="text" name="lastname").form__input
          label.form__label Phone*
            input(type="tel", name="phone").form__input
          label.form__label Email*
            input(type="email", name="email").form__input
        .form__block
          label.form__label Country
            input(type="text").form__input
          label.form__label City
            input(type="text").form__input
          label.form__label State / Province / Region
            input(type="text").form__input
          label.form__label ZIP / Postal Code
            input(type="text").form__input
          label.form__label Street Address
            input(type="text").form__input
          label.form__label Address Line 2
            input(type="text").form__input
          label.form__label-checkbox.form__label-checkbox--full-width I have another co-inventor
            input(type="checkbox", name="").form__input-checkbox
            span.checkmark
        .form__big-line
      .form__block
        .form__subheader
          h4 Invention and Patent Information
      .form__block
        label.form__label.form__label--full-width Title of Invention*
          input(type="text" name="invention").form__input
        label.form__label-checkbox.form__label-checkbox--full-width I have any image or data files regarding my invention to upload at this time
          input(type="checkbox", name="").form__input-checkbox
          span.checkmark 
      .form__block
        span.form__text What kind of patents do you want to file?*
        label.form__label-checkbox.form__label-checkbox--three-in-row Provisional
          input(type="checkbox", name="provisional").form__input-checkbox
          span.checkmark
        label.form__label-checkbox.form__label-checkbox--three-in-row  Utility
          input(type="checkbox", name="utility").form__input-checkbox
          span.checkmark
        label.form__label-checkbox.form__label-checkbox--three-in-row Design
          input(type="checkbox", name="design").form__input-checkbox
          span.checkmark
      .form__block
        span.form__text Entity Status Declaration*
          span(tabindex="0").form__icon-info
            .info-notification__catcher
              .info-notification
                span.info-notification__text Not sure of your entity status?
                .submenu.submenu__item-2.article__submenu
                  a(href="#info-entity-status").submenu__item-link.js-popup-link 
                    +icon("arrow", "14", "9")
                    span learn more
        label.form__label-radio.form__label-radio--three-in-row Microentity
          input(type="radio", name="Status Declaration" checked).form__input-checkbox
          span.checkmark
        label.form__label-radio.form__label-radio--three-in-row Small entity
          input(type="radio", name="Status Declaration").form__input-checkbox
          span.checkmark
        label.form__label-radio.form__label-radio--three-in-row Corporate
          input(type="radio", name="Status Declaration").form__input-checkbox
          span.checkmark
    .container--form-submit.form__submit
      button(type="submit").form__submit-button.button Submit
