h1, h2, h3, h4 { 
  font-family: $font-head; 
  text-transform: capitalize;
}
h2, h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  color: $white;
  @media (min-width: $desktope) {
    font-size: 32px;
    line-height: 43px;
  }
}
h4 {
  font-family: $font-head;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-transform: none;
}
p, h5, h6 { 
  font-family: $font-article;
  font-size: $base-font-size;
  color: $white-op8;
  transition: 0.15s;
}
p {
  line-height: 23px;
}
h5, h6 {
  line-height: 20px;
  text-transform: uppercase;
}
h5 {
  letter-spacing: 1px;
}

time {
  font-family: $font-article;
  font-size: 14px;
  line-height: 20px;
  color: $white-op5;
}
form {
  font-family: $font-article;
  font-size: 14px;
  line-height: 17px;
  
  .form__text {
    font-weight: 600;
    text-transform: uppercase;
    color: rgba($white, 0.8);
  }
  input,
  textarea {
    font-family: $font-article;
    font-size: 16px;
    line-height: 26px;
    color: $white;
  }
}

span.submenu__item-props {
  font-family: $font-article;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.link-desktope,
.link-tablet,
.link-mobile,
.link-button,
.form__submit-button {
  font-family: $font-article;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $white-op4;
}

.accreditation__label p {
  font-family: $font-article;
  font-size: 9px;
  line-height: 13px;
  color: $white-op8;
  transition: 0.15s;
}
.label__header { font-weight: 600; }
.label__body { font-weight: 400; }

.text-transform-none {
  text-transform: none;
}

//------------------ARTICLE-------------------//
.article {
  &__header {
    margin-top: 20px;
    @media (min-width: $tablet) {
      margin-top: 55px;
    }
  }
  &__paragraph {
    padding-top: 15px;
    &--shortline {
      padding-top: 2px;
    }
    p { 
      margin-top: 13px;

      font-size: 18px;
      line-height: 29px;
    }
    &--underslider {
      @media (min-width: $desktope) {
        padding-top: 65px;
      }
    }
  }
  &__slider {
    margin-top: 20px;
    @media (min-width: $desktope) {
      margin-top: 35px;
    }
  }
  &__figure {
    margin-top: 20px;
    @media (min-width: $desktope) {
      margin-top: 50px;
    }
  }
  &__figure-label {
    margin-top: 10px;
    @media (min-width: $desktope) {
      margin-top: 15px;
    }
  }
  &__list {
    margin-top: 30px;

    font-family: $font-article;
    font-size: 18px;
    line-height: 29px;
    color: $white-op8;
    ol, ul {
      padding-left: 17px;
    }
    li {
      padding-left: 10px;
      margin-top: 14px;
      &::-moz-list-number {  
        font-weight: 600;
      }
    }
    p {
      margin-top: 14px;

      font-family: $font-article;
      font-size: 18px;
      line-height: 29px;
    }
    &--nummod {
      margin-top: 16px;
      margin-left: 10px;
      li { position: relative; list-style-type: none; }
      ol { counter-reset: list 0; }
      ol li:before {
        position: absolute;
        top: 0;
        left: -10px;

        counter-increment: list;
        content: counter(list) ") ";
      }
    }
  }
  &__footnote {
    p { 
      margin-top: 40px;

      font-size: 18px;
      line-height: 29px;
    }
  }
  &__spoiler {
    display: inline-block;
    
    &-question {
      margin-top: 63px;
      summary {
        position: relative;
        display: block;

        font-family: $font-head;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-transform: none;

        cursor: pointer;
        &::-webkit-details-marker {display: none;}
      }
    }
    &-chevron {
      position: absolute;
      left: -22px;
      top: 0;
      
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 22px;
      height: 32px;

      fill: $color-main;
      transition: 0.1s;
      @media (min-width: $desktope) {
        left: -55px;
        width: 55px;
      }
    }
    &-answer {
      margin-top: 15px;

      font-size: 18px;
      line-height: 29px;
    }
    details[open] {
      .icon-chevron--spoiler {
        transform: rotate(180deg);
        transition: 0.1s;
      }
    }
  }
  &__table {
    margin-top: 20px;
    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
  
      font-family: $font-article;
      font-size: 18px;
      line-height: 24px;
      thead {
        font-weight: 600;
        text-align: left;
        vertical-align: top;
      }
      tbody { color: $white-op8 }
      th, td {
        padding: 22px 0;
        border-bottom: 1px solid rgba(255, 225, 149, 0.5);
        @media (min-width: $tablet) {
          width: 200px;
          padding: 22px 20px 22px 0;
        }
        &:last-child {
          @media (min-width: $tablet) {
            width: 180px;
            padding-right: 0;
          }
        }
      }
    }
  }
  &__social {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100px;
    margin-top: 73px;
    padding: 10px;
    
    background-color: rgba($white, 0.1);
    @media (min-width: $tablet) {
      align-items: center;
      justify-content: flex-start;
      & a:first-child { margin-left: 22px; }
    }
    @media (min-width: $desktope) {
      align-items: center;
      justify-content: flex-start;
      width: 780px;
      padding: 0 40px;
    }

    &-icons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 5px 0;
      margin-bottom: -2px;

      & > * { &:not(:last-child) {
        margin-right: 10px; 
      }}
      &-linkedin { line-height: 0; }
    }
    &-caption {
      font-family: $font-article;
      font-size: 18px;
      line-height: 29px;
      color: $white-op8;

      @media (min-width: $desktope) {
        margin-left: 22px;
      }
    }
  }
  &__video {
    margin-top: 30px;
    video {
      width: 100%;
    }
  }
  .span--yellow { color: $color-main; }
  .span--bold { font-weight: bold; }
  .span--op8 { color: rgba($white, 0.8); }
  .span--ttnone { text-transform: none; }
}