@mixin flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin mobile-container {
  margin: 0 auto;
  max-width: $mobile-container;
  width: 100%;
}

@mixin tablet-container {
  margin: 0 auto;
  max-width: $tablet-container;
  width: 100%;
}

@mixin desktope-container {
  margin: 0 auto;
  max-width: $desktope-container;
  width: 100%;
}