@import "libs";
@import "vars";
@import "fonts";

//------------------GENERAL-------------------//
html {
  height: 100%;
  font-size: $base-font-size;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
  list-style: none;
}

body, h1, h2, h3, h4, p, ul[class], ol[class],
li, figure, figcaption, blockquote, dl, dd { 
  margin: 0;
}

a { text-decoration: none; }
a:not([class]) { text-decoration-skip-ink: auto; }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select { font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; } */

textarea { resize: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//-------------------FONTS--------------------//
h1, h2, h3, h4 { 
  font-family: $font-head; 
  text-transform: capitalize;
}
h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  color: $white;
  @media (min-width: $desktope) {
    font-size: 32px;
    line-height: 43px;
  }
}
p, h5, h6 { 
  font-family: $font-article;
  font-size: $base-font-size;
  color: $white-op8;
  transition: 0.15s;
}
p {
  line-height: 23px;
}
h5, h6 {
  line-height: 20px;
  text-transform: uppercase;
}
h5 {
  letter-spacing: 1px;
}

time {
  font-family: $font-article;
  font-size: 14px;
  line-height: 20px;
  color: $white-op5;
}

span.submenu__item-props {
  font-family: $font-article;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.link-desktope,
.link-mobile {
  font-family: $font-article;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $white-op4;
}

.accreditation__label p {
  font-family: $font-article;
  font-size: 9px;
  line-height: 13px;
  color: $white-op8;
  transition: 0.15s;
}
.label__header { font-weight: 600; }
.label__body { font-weight: 400; }

//------------------RPOJECT-------------------//
body {
  color: $white;
  background-color: $bgc-page;

  @media (min-width: $desktope) {
    background: $bgc-page url(../img/general/middlepage-bg--desktope.jpg) center -520% no-repeat;
    background: $bgc-page url(../img/general/middlepage-bg--desktope.webp) center -520% no-repeat;
    background-size: cover;
  }
  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    background: $bgc-page url(../img/general/middlepage-bg--desktope@2x.jpg) center -520% no-repeat;
    background: $bgc-page url(../img/general/middlepage-bg--desktope@2x.webp) center -520% no-repeat;
    background-size: cover;
  }
}
a, button {
  outline-color: $color-main;
}
.container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 70px;
  }

  @media (min-width: $desktope) {
    max-width: $desktope;
    padding: 0 110px;
  }
}

.container--without-mobile {
  /* @media (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 70px;
  } */
  @media (min-width: $desktope) {
    max-width: $desktope;
    padding: 0 110px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}

.button{
  background-color: $color-main;
    &:hover{
      background-color: $bgc-link-hover;
    } 
}

@import "../components/components.scss";