// Colors
$white: #ffffff;
$black: #000000;
$bgc-page: #050713;
$bgc-mobile-menu: rgba(1, 23, 45, 0.95);
$bgc-element: rgba(27, 49, 75, 0.75);
$bgc-element-button: #2D3A52;
$bgc-menu-button-active: #E7CC89;
$bgc-menu-button: #0E1420;
$bgc-notification: #FFEFC5;
$color-hover: #FFE195;
$color-img-hover: rgba(255, 225, 149, 0.6);

// Sizes
$base-font-size: 16px;

// Breakpoints
$tablet-breakpoint: 768px;
$desktope-breakpoint: 1400px;

// Containers
$mobile-content-size: 280px;
$tablet-content-size: 630px;
$desktope-content-size: 1180px;

// Fonts
$playfair: "Playfair Display", "Times New Roman", "Times", serif;
$roboto: "Roboto", "Arial", "Helvetica", sans-serif;
$signika: "Signika", "Arial", "Helvetica", sans-serif;