// Colors
$black: #000000;
$white: #ffffff;
$white-op3: rgba(255, 255, 255, 0.3);
$white-op4: rgba(255, 255, 255, 0.4);
$white-op5: rgba(255, 255, 255, 0.5);
$white-op8: rgba(255, 255, 255, 0.8);
$bgc-page: #050713;
$bgc-mobile-menu: rgba(1, 23, 45, 0.95);
$bgc-nav-sticky: rgba(27, 49, 75, 0.9);
$bgc-element: rgba(27, 49, 75, 0.75);
$bgc-element-button: #2D3A52;
$bgc-link: #0E1420;
$bgc-link-hover: #E7CC89;
$bgc-notification: #FFEFC5;
$color-main: #FFE195; //link active
/* $color-img-hover: rgba(255, 225, 149, 0.6); */

// Sizes
$base-font-size: 16px;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$tablet-1: 767px;
$desktope: 1400px;
$desktope-1: 1399px;

// DPI
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Fonts
$font-head: "Playfair Display", "Times New Roman", "Times", serif;
$font-article: "Signika", "Arial", "Helvetica", sans-serif;
$font-note: "Roboto", "Arial", "Helvetica", sans-serif;