.nav__menu
  ul.menu
    li.menu__item
      a(href="who-we-are.html").menu__item-link.menu__item-link-who-we-are Who we are
    li.menu__item
      a(href="what-we-do.html").menu__item-link.menu__item-link-what-we-do What we do
    li.menu__item
      a(href="patenting-process.html").menu__item-link.menu__item-link-patenting-process Patenting process
    li.menu__item
      a(href="faq.html").menu__item-link.menu__item-link-faq FAQ
    li.menu__item
      a(href="fee-structure.html").menu__item-link.menu__item-link-fee-structure Fee structure
    li.menu__item
      a(href="contact.html").menu__item-link.menu__item-link-contact Contact
    li.menu__item.menu__item--infooter
      a(href="submit-your-idea.html").menu__item-link.menu__item-link-submit-your-idea Submit Your Idea Now 
    li.menu__item
      a(href="blog.html").menu__item-link.menu__item-link-blog Blog
