ul.menu
  li.menu__item
    a(href="http://").menu__item-link Who we are
  li.menu__item
    a(href="http://").menu__item-link What we do
  li.menu__item
    a(href="http://").menu__item-link Patenting process
  li.menu__item
    a(href="http://").menu__item-link FAQ
  li.menu__item
    a(href="http://").menu__item-link Fee structure
  li.menu__item
    a(href="http://").menu__item-link Contact
  li.menu__item
    a(href="http://").menu__item-link Blog
.nav__submenu
  ul.submenu
    li.submenu__item-1
      +icon("arrow", "14", "9")
      a(href="http://").submenu__item-link Submit your idea now
    li.submenu__item-2
      +icon("arrow", "14", "9")
      a(href="http://").submenu__item-link Contact us
    li.submenu__item-3
      +icon("arrow", "14", "9")
      a(href="http://").submenu__item-link View our services
    li.submenu__item-4
      +icon("arrow", "14", "9")
      a(href="http://").submenu__item-link Download patent overview