.nav__menu
  ul.menu
    li.menu__item
      a(href="http://").menu__item-link Who we are
    li.menu__item
      a(href="http://").menu__item-link What we do
    li.menu__item
      a(href="http://").menu__item-link Patenting process
    li.menu__item
      a(href="http://").menu__item-link FAQ
    li.menu__item
      a(href="http://").menu__item-link Fee structure
    li.menu__item
      a(href="http://").menu__item-link Contact
    li.menu__item
      a(href="http://").menu__item-link Blog
