ul.menu__list
  li
    a(href="http://").menu__list-link Who we are
  li
    a(href="http://").menu__list-link What we do
  li
    a(href="http://").menu__list-link Patenting process
  li
    a(href="http://").menu__list-link FAQ
  li
    a(href="http://").menu__list-link Fee structure
  li
    a(href="http://").menu__list-link Contact
  li
    a(href="http://").menu__list-link Blog
.menu__submenu.submenu
  ul.submenu__list
    li.submenu__list-item
      +icon("arrow", "14", "9")
      a(href="http://").submenu__list-link Submit your idea now
    li.submenu__list-item
      +icon("arrow", "14", "9")
      a(href="http://").submenu__list-link Contact us
    li.submenu__list-item
      +icon("arrow", "14", "9")
      a(href="http://").submenu__list-link View our services
    li.submenu__list-item
      +icon("arrow", "14", "9")
      a(href="http://").submenu__list-link Download patent overview