.nav__submenu.submenu
  ul.submenu-visible 
    li.submenu__item-1
      a(href="http://localhost:3000/submit-your-idea.html" tabindex="0").submenu__item-link
        +icon("arrow", "14", "9")
        span Submit your idea now
  ul.submenu-absolute
    li.submenu__item-2
      a(href="http://" tabindex="0").submenu__item-link
        +icon("arrow", "14", "9")
        span Contact us
    li.submenu__item-3
      a(href="http://" tabindex="0").submenu__item-link
        +icon("arrow", "14", "9")
        span View our services
    li.submenu__item-4
      a(href="http://" tabindex="0").submenu__item-link
        +icon("arrow", "14", "9")
        span Download patent overview