.nav__logo
  a(href="index.html").nav__logo-link
    picture
      source(media="(min-width: 768px)" srcset="img/svg/logo.svg")
      img(class="icon-logo" src="img/svg/logo-mobile.svg" alt="logo Williams Intellectual Property")
.nav__phonenumber
  a(href="tel:18883571068").nav__phonenumber-link 1-888-357-1068